
project4/.DS_Store

*.xcuserstate

*.xcbkptlist

*.xcuserstate

project4/project4.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate

project4/project4.xcodeproj/project.pbxproj
